/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 24px;
  justify-content: center;
  padding-top: 40px;
}

.gallery-item img {
  display: block;
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-top: none;
  font-size: 14px;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.is-hidden {
  display: none;
}
